<?xml version="1.0" encoding="utf-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "yuinchinchen.com"
		versionCode="1"
		version   = "1.0">
		<name>w09</name>
		<description>A simple APP to help Chinese People to quit Gambling.</description>
		<author href="yuinchinchen.com" email="yuinchinchen@gmail.com">
Johnson Chen
		</author>
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<preference name="phonegap-version" value="3.6.3" />
		<preference name="android-installLocation" value="auto" />

		<preference name="orientation" value="portrait" />
		<preference name="target-device" value="universal" />
		<preference name="fullscreen" value="false" />
		<preference name="webviewbounce" value="false" />
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="disallowOverscroll" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="disable-cursor" value="false" />
		<preference name="android-minSdkVersion" value="14" />
		<preference name="android-targetSdkVersion" value="14" />
		<preference name="android-installLocation" value="auto" />
		<preference name="splash-screen-duration" value="5000" />
		<preference name="load-url-timeout" value="20000" />
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="BackgroundColor" value="0xffffffff "/>

		

		<feature name="http://api.phonegap.com/1.0/camera"/>
		<feature name="http://api.phonegap.com/1.0/file"/>
		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/network"/>

		<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
		<gap:plugin name="com.phonegap.plugins.barcodescanner" />

		<access origin="*" subdomains="true" />
	</widget>